.css3-tab {
  list-style: none;
  margin: 0 auto 40px;
  padding: 38px 0 0 0;
  position: relative;
  width: 90%;
}
.css3-tab input[type='radio'] {
  display: none;
}
.css3-tab .css3-tab-nav {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.css3-tab .css3-tab-nav label {
  display: table-cell;
  background-color: #666666;
  color: #FFFFFF;
  padding: 15px;
  text-align: center;
  transition: all .3s ease 0s;
}
.css3-tab .css3-tab-nav label:hover {
  cursor: pointer;
  background: white;
  color: #666666;
  transition: all .3s ease 0s;
}
@media (max-width: 692px) {
  .css3-tab .css3-tab-nav {
    display: block;
    margin: 0 0 20px;
  }
  .css3-tab .css3-tab-nav label {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
  }
}
.css3-tab .css3-tab-content {
  overflow: hidden;
  padding: 25px;
  display: none;
  background: #FFF;
  clear: left;
  box-sizing: border-box;
}


.css3-tab input[id='tabOne']:checked ~ .css3-tab-nav label[for='tabOne'] {
  background: aqua;
  color: #666666;
  cursor: default;
}
.css3-tab input[id='tabOne']:checked ~ div.tab-one {
  display: block;
  border-top: solid 3px aqua;
}





.css3-tab input[id='tabTwo']:checked ~ .css3-tab-nav label[for='tabTwo'] {
  background: pink;
  color: white;
  cursor: default;
}
.css3-tab input[id='tabTwo']:checked ~ div.tab-two {
  display: block;
  border-top: solid 3px pink;
}




.css3-tab input[id='tabThree']:checked ~ .css3-tab-nav label[for='tabThree'] {
  background:#b6ff00 ;
  color: white;
  cursor: default;
}
.css3-tab input[id='tabThree']:checked ~ div.tab-Three {
  display: block;
  border-top: solid 3px #b6ff00;
}





body {
  background: #e4e4e4;
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: white;
  opacity: 0.9;

}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}



/*              chat                 */







.btn {
  color: gray;
  cursor: pointer;
  display: block;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 100px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; 
  
   @media(min-width: 400px) {
     display: inline-block;
     margin-right: 2.5em;
  
     &:nth-of-type(even) {
       margin-right: 0;
     }
   }
  
  @media(min-width: 600px) {
      
    margin: 0 1em 2em;
  
     &:nth-of-type(even) {
         margin-right: 2.5em;
     }
   
     &:nth-of-type(5) {
       margin-right: 0;
     }
    
  }
  
  &:hover { text-decoration: none; }
  
}


.btn-5 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 

.btn-5:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}











@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@keyframes fade-in-100-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes fade-in-100-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ded7e2;
}
.content {
  width: 100%;
  height: 600px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
aside {
  width: 25%;
  background-color: #b6ff00;
  display: flex;
  flex-direction: column;
}
aside .head {
  min-height: 160px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
aside .head .avatar {
  background-color: black;  /*동그란 프로필*/
  color: white;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
aside .head .name, aside .head .mail {
  margin: 3px 0px;
  font-size: 14px;
}
aside .head .name {
  font-weight: 700;
}
aside .head .mail {
  font-weight: 400;
  opacity: 0.8;
}
aside .friends_list {
  background-color: #b6ff00;
  width: 100%;
  min-height: 600px;
  overflow: auto;
}
aside .friends_list .friend {
  padding: 10px 5px;
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: space-between;
}
aside .friends_list .friend:hover {
  background-color: pink;
}
aside .friends_list .friend.active {
  background-color: pink;
}
aside .friends_list .friend.active .avatarbox {
  position: relative;
}
aside .friends_list .friend.active .avatarbox::before {
  border: 2px solid #714b94;
}
aside .friends_list .friend .avatarbox {
  position: relative;
}
aside .friends_list .friend .avatarbox::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #3ec649;
  display: block;
  position: absolute;
  z-index: 99;
  border-radius: 50%;
  top: 5px;
  left: 10px;
  border: 2px solid #673e8c;
}
aside .friends_list .friend .avatar_overlay {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0px 10px;
}
aside .friends_list .friend .avatar_overlay img {
  width: 100%;
  min-height: 100%;
}
aside .friends_list .friend .namemsg {
  color: white;
  width: 70%;
}
aside .friends_list .friend .namemsg p {
  line-height: 20px;
}
aside .friends_list .friend .namemsg .msg {
  opacity: 0.6;
  width: 60px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
aside .friends_list .friend .timeago {
  width: 20%;
  font-size: 11px;
}
.midcont {
  width: 75%;
  min-height: 600px;
  background-color: rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
}
.midcont .head {
  padding: 20px;
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.midcont .head h4 {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
}
.midcont .head .configschat {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: auto;
}
.midcont .head .configschat i {
  font-size: 26px;
  color: rgba(0, 0, 0, 0.7);
  padding: 10px 30px;
  transition: transform 0.2s cubic-bezier(0.72, 0.1, 0.33, 1.99);
}
.midcont .head .configschat i:hover {
  transform: scale(1.1);
}
.midcont .head .configschat i.fa.fa-phone:hover {
  color: #3ec649;
}
.midcont .head .configschat i.fa.fa-camera-retro:hover {
  color: #673ab7;
}
.midcont .head .configschat i.fa.fa-ellipsis-v:hover {
  color: #b5b5b5;
}
.midcont .messagescont {
  height: 70%;
  padding: 10px;
}
.midcont .messagescont .msg {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  overflow: hidden;
}
.midcont .messagescont .msg .text {
  background-color: white;
  padding: 1em;
  border-radius: 6px;
  color: #737373;
  position: relative;
  line-height: 18px;
}
.midcont .messagescont .user {
  display: flex;
  flex-direction: row;
  width: 90%;
}
.midcont .messagescont .user.me {
  margin-right: auto;
  animation: fade-in-100-left 1.5s 1s ease-in-out both;
}
.midcont .messagescont .user.me .text::before {
  content: '';
  display: block;
  border-style: solid;
  border-width: 7.5px 12px 7.5px 0;
  border-color: transparent #fff transparent transparent;
  position: absolute;
  left: -11px;
}
.midcont .messagescont .user.friend {
  margin-left: auto;
  flex-direction: row-reverse;
  animation: fade-in-100-right 1.5s 1.8s ease-in-out both;
}
.midcont .messagescont .user.friend .text {
  background-color: #714b94;
  color: white;
}
.midcont .messagescont .user.friend .text::before {
  content: '';
  display: block;
  border-style: solid;
  border-width: 7.5px 0 7.5px 12px;
  border-color: transparent transparent transparent #714b94;
  position: absolute;
  right: -11px;
}
.midcont .messagescont .user .avatarbox .avatar_overlay {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0px 10px;
}
.midcont .messagescont .user .avatarbox {
  display: block;
  margin-top: 15px;
  padding: 0px 20px;
}
.midcont .messagescont .user .avatarbox::before {
  content: "";
  width: 0px;
  height: 0px;
  border: 0px solid;
}
.midcont .bottomchat {
  padding: 20px;
  background-color: white;
  color: #b5b5b5;
  margin-top: auto;
}
.midcont .bottomchat * {
  transition: all 0.2s ease-in-out;
}
.midcont .bottomchat .text {
  float: left;
  font-size: 14px;
}
.midcont .bottomchat i {
  float: right;
}
.midcont .bottomchat i:hover {
  opacity: 0.5;
  color: #3ec649;
}
.fcenter {
  align-items: center;
}
.b {
  font-weight: 700;
}
*, *:before, *:after {
  box-sizing: border-box;
}
.avatarbox {
  position: relative;
}
.avatarbox::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #3ec649;
  display: block;
  position: absolute;
  z-index: 99;
  border-radius: 50%;
  top: 5px;
  left: 10px;
  border: 2px solid rgba(255, 255, 255, 0.8);
}
.avatarbox .avatar_overlay {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0px 10px;
}
.avatarbox .avatar_overlay img {
  width: 100%;
  min-height: 100%;
}
@media screen and (max-width: 1000px) {
  body {
    height: auto;
  }
  .content {
    flex-direction: column;
    min-height: 600px;
    max-width: 360px;
    width: auto;
    height: auto;
  }
  aside {
    height: auto;
    overflow: hidden;
  }
  aside .head {
    flex-direction: row;
    min-height: 90px;
  }
  aside .head * {
    margin: 0px 10px !important;
  }
  aside .head .mail {
    font-size: 10px;
  }
  aside .friends_list {
    transition: all 0.2s ease-in-out;
    min-height: 0px;
  }
  aside .friends_list.ok {
    height: 0px;
  }
  aside .friends_list.ok.active {
    min-height: 210px;
  }
  .midcont {
    min-height: 600px;
  }
  .midcont .configschat i {
    font-size: 18px !important;
  }
  aside, .midcont {
    width: 100%;
  }
}
/* Let's get this party started */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.2);
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.t {
  transition: all 0.2s ease-in-out;
}
.emoji {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.emoji.fish {
  background-image: url("https://emojipedia-us.s3.amazonaws.com/cache/8d/a6/8da6396644dd88e1f4b690b2ec7933f0.png");
}
.emoji.sushi {
  background-image: url("https://emojipedia-us.s3.amazonaws.com/cache/d5/bc/d5bc4a3ccb4ee7803baf8756c63774a1.png");
}
.emoji.ramem {
  background-image: url("https://emojipedia-us.s3.amazonaws.com/cache/b6/d7/b6d781171f5e7f5b5fc723076a810e76.png");
}
@media screen and (max-width: 500px) {
  .content {
    max-width: 360px;
  }
}



.button-3d {
  position:relative;
  width: auto;
  display:inline-block;
  color:#ecf0f1;
  text-decoration:none;
  border-radius:5px;
  border:solid 1px #f39c12;
  background:#e67e22;
  text-align:center;
  padding:16px 18px 14px;
  margin: 12px;
  
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  
  -webkit-box-shadow: 0px 6px 0px #d35400;
  -moz-box-shadow: 0px 6px 0px #d35400;
  box-shadow: 0px 6px 0px #d35400;
}

.button-3d:active{
    -webkit-box-shadow: 0px 2px 0px #d35400;
    -moz-box-shadow: 0px 2px 0px #d35400;
    box-shadow: 0px 2px 0px #d35400;
    position:relative;
    top:4px;
}